In [1]:
import pandas as pd

In [24]:
df=pd.read_csv('ex1data1.txt', names=['population_of_city', 'profit_of_business'])

In [25]:
df

    population_of_city  profit_of_business
0               6.1101            17.59200
1               5.5277             9.13020
2               8.5186            13.66200
3               7.0032            11.85400
4               5.8598             6.82330
5               8.3829            11.88600
6               7.4764             4.34830
7               8.5781            12.00000
8               6.4862             6.59870
9               5.0546             3.81660
10              5.7107             3.25220
11             14.1640            15.50500
12              5.7340             3.15510
13              8.4084             7.22580
14              5.6407             0.71618
15              5.3794             3.51290
16              6.3654             5.30480
17              5.1301             0.56077
18              6.4296             3.65180
19              7.0708             5.38930
20              6.1891             3.13860
21             20.2700            21.76700
22              5.4901             4.26300
23              6.3261             5.18750
24              5.5649             3.08250
25             18.9450            22.63800
26             12.8280            13.50100
27             10.9570             7.04670
28             13.1760            14.69200
29             22.2030            24.14700
..                 ...                 ...
67             10.2360             7.77540
68              5.4994             1.01730
69             20.3410            20.99200
70             10.1360             6.67990
71              7.3345             4.02590
72              6.0062             1.27840
73              7.2259             3.34110
74              5.0269            -2.68070
75              6.5479             0.29678
76              7.5386             3.88450
77              5.0365             5.70140
78             10.2740             6.75260
79              5.1077             2.05760
80              5.7292             0.47953
81              5.1884             0.20421
82              6.3557             0.67861
83              9.7687             7.54350
84              6.5159             5.34360
85              8.5172             4.24150
86              9.1802             6.79810
87              6.0020             0.92695
88              5.5204             0.15200
89              5.0594             2.82140
90              5.7077             1.84510
91              7.6366             4.29590
92              5.8707             7.20290
93              5.3054             1.98690
94              8.2934             0.14454
95             13.3940             9.05510
96              5.4369             0.61705

[97 rows x 2 columns]

In [12]:
df.describe()

          6.1101     17.592
count  96.000000  96.000000
mean    8.181151   5.716709
std     3.884451   5.404947
min     5.026900  -2.680700
25%     5.690950   1.952550
50%     6.735950   4.455300
75%     8.639925   6.879150
max    22.203000  24.147000

In [35]:
X = df[['population_of_city']]
y =df[['profit_of_business']]

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 97 entries, 0 to 96
Data columns (total 2 columns):
population_of_city    97 non-null float64
profit_of_business    97 non-null float64
dtypes: float64(2)
memory usage: 1.6 KB

In [37]:
from sklearn.model_selection import train_test_split

In [38]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2, random_state=5)

In [39]:
train_set.head()

     6.1101   17.592
40   6.8825   3.9115
67   5.4994   1.0173
15   6.3654   5.3048
68  20.3410  20.9920
88   5.0594   2.8214

In [40]:
test_set.head()

     6.1101   17.592
80   5.1884  0.20421
77  10.2740  6.75260
73   5.0269 -2.68070
94  13.3940  9.05510
33   8.2111  6.54260

In [41]:
from sklearn.linear_model import LinearRegression

In [42]:
lin_reg = LinearRegression()
lin_reg.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [43]:
new = [[56]]
lin_reg.predict(new)

array([[62.73463411]])

In [44]:
lin_reg.intercept_

array([-3.83598326])

In [45]:
lin_reg.coef_

array([[1.18876102]])

In [46]:
X_train.max()

population_of_city    22.203
dtype: float64

In [47]:
y_train.max()

profit_of_business    24.147
dtype: float64

In [50]:
new = [[22.203]]

In [51]:
lin_reg.predict(new)

array([[22.55807777]])